@import url(https://../fonts.googleapis.com/css?family=Raleway|Arimo|Poiret+One|Lobster|Josefin+Sans|Quicksand);

$whitetransp: rgba(255,255,255, .5);
$peachtransp: rgba(247,160,140, .5);
$offwhite: #022933;
$darkblue: #EEE8D6;
$wwrpblue: #00245e;
$wwrppeach: #f7a08c;
$wwrppink: #f16379;
$wwrpgreen: #5EB53A;
$wwrppurple: #462B87;

$color-background: white;

@font-face {
    font-family: 'ltbrewery_bold';
    src: url('../fonts/linotype_brewery_bold-webfont.eot');
    src: url('../fonts/linotype_brewery_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/linotype_brewery_bold-webfont.woff') format('woff'),
         url('../fonts/linotype_brewery_bold-webfont.ttf') format('truetype'),
         url('../fonts/linotype_brewery_bold-webfont.svg#ltbrewery_lightbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ltbrewery_light';
    src: url('../fonts/linotype_brewery_light-webfont.eot');
    src: url('../fonts/linotype_brewery_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/linotype_brewery_light-webfont.woff') format('woff'),
         url('../fonts/linotype_brewery_light-webfont.ttf') format('truetype'),
         url('../fonts/linotype_brewery_light-webfont.svg#ltbrewery_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ltbrewery_regular';
    src: url('../fonts/linotype_brewery_regular-webfont.eot');
    src: url('../fonts/linotype_brewery_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/linotype_brewery_regular-webfont.woff') format('woff'),
         url('../fonts/linotype_brewery_regular-webfont.ttf') format('truetype'),
         url('../fonts/linotype_brewery_regular-webfont.svg#ltbrewery_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face{
	font-family:'helveticalT_bold';
	src: url('../fonts/HelveticaLTStd-Bold.otf');
}

@font-face{
	font-family:'helveticalT_light';
	src: url('../fonts/HelveticaLTStd-Light.otf');
}
@font-face{
	font-family:'helveticalT_lgObl';
	src: url('../fonts/HelveticaLTStd-LightObl.otf');
}
@font-face{
	font-family:'helveticalT_obl';
	src: url('../fonts/HelveticaLTStd-Obl.otf');
}
@font-face{
	font-family:'helveticalT_roma';
	src: url('../fonts/HelveticaLTStd-Roman.otf');
}
 
@font-face {
  font-family: 'VideoJS';
  src: url('.../fonts/vjs.eot');
  src: url('../fonts/vjs.eot?#iefix') format('embedded-opentype'), url('../../font/vjs.woff') format('woff'), url('../../font/vjs.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html{
	
}

body{
	margin:0;
	padding: 0;
	background: $color-background;
	font-size:16px;
}
p{text-align:justify;}

@mixin colors($text, $background, $border) {
  color: $text;
  background-color: $background;
  border-color: $border;
}
$values: #ff0000, #00ff00, #0000ff;
.primary {
  @include colors($values...);
}
