@mixin backImage ($image, 
	$height: 100vh,
	$bgPos: center center ){
	background: linear-gradient (to bottom, rgba(0,0,0,0), rgba (0, 0, 0, .6), url($image));
	background-repeat: no-repeat;
	background-postiion: $bgPos;
	background-size: cover;
	height: $height;
}