@import "base";
//@import "module/media";
@import "mixin";


.screenbackground{
	@include backImage ("../images/test.png", 
	600px, top center);
}
/*.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}*/
.navbar-toggle {
	background-color: $peachtransp;
	.icon-bar{background-color: $wwrpblue;}
}

.navbar-nav{
	padding: 5px 0;
	li{
		font-weight: bold;
		border-left: 2px solid $wwrppeach;
		a{color: $wwrpblue; padding-top:0px; padding-bottom:0}
		a:hover{
			color: $wwrppeach;
			background-color:transparent;
		}
	}
	li:first-child{
		border-left:none;
	}
	li:hover{
		color: $wwrppeach;
	}
	.dropdown-menu{
		background-color: $whitetransp;
		li{ 
			border-left:none;
			border-bottom: 1px solid $wwrppeach;
			font-weight: normal;
			padding:5px 0;
			a:hover{
				text-shadow: 1px 1px 0 #eee; color: $wwrpblue;
			}
		};
		li:last-child{
			border-bottom:none;
		}
	}
}

h1{
	color:white;
	font-family:"ltbrewery_bold", Arial, sans-serif;
	font-size:2.2em;
}

h2{
	color:$wwrpblue;
	font-family:"ltbrewery_regular", Arial, sans-serif;
	font-size:1.8em;
	border-bottom: 1px solid #00245e;
	line-height:50px;
}

.carousel-inner{
	.item{
		img{width:100%}		
	}
}
.carousel-caption{
	left:0;
	img{
		width:50%;
	}
}
#banner-display{
	background: $peachtransp;
}
#wwrp_description, #pageheading{
	background: $wwrppeach;
	padding: 20px 0;
	margin-bottom:20px;
	p{
		color: white;
	}
}
#our_programs{
	#wwp_study{
		//background:$wwrppurple;
		padding:10px;
	}
	#ywwp_study{
		//background:$wwrppink;
		padding:10px;
	}
	#wwacp_study{
		//background:$wwrpblue;
		padding:10px;
	}
	#dwwp_study{
		//background:$wwrpgreen;
		padding:10px;
	}
	img{
		width:100%;
		opacity: 1;
	}
	.program_description{
		color: #333;
		background-color: #fff;
		opacity: 0.6;
		position:absolute;
		bottom:10px;
		left:10px;
		padding:10px;
		display: none;
	}

}

#our_partners{
	padding:20px 0;
	img{height:60px}
	.item{
		height: 60px;
	}
}

article{
	color:$wwrpblue;
	margin-bottom:20px;
}

footer{
	padding: 30px;
	background: $wwrppeach;
	color:white;
	a{
		color:white;
	}
	p{
		font-family:"ltbrewery_regular", Arial, sans-serif;
		font-size: 1.2em;		
	}

}