@import url(https://../fonts.googleapis.com/css?family=Raleway|Arimo|Poiret+One|Lobster|Josefin+Sans|Quicksand);
@font-face {
  font-family: 'ltbrewery_bold';
  src: url("../fonts/linotype_brewery_bold-webfont.eot");
  src: url("../fonts/linotype_brewery_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/linotype_brewery_bold-webfont.woff") format("woff"), url("../fonts/linotype_brewery_bold-webfont.ttf") format("truetype"), url("../fonts/linotype_brewery_bold-webfont.svg#ltbrewery_lightbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ltbrewery_light';
  src: url("../fonts/linotype_brewery_light-webfont.eot");
  src: url("../fonts/linotype_brewery_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/linotype_brewery_light-webfont.woff") format("woff"), url("../fonts/linotype_brewery_light-webfont.ttf") format("truetype"), url("../fonts/linotype_brewery_light-webfont.svg#ltbrewery_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ltbrewery_regular';
  src: url("../fonts/linotype_brewery_regular-webfont.eot");
  src: url("../fonts/linotype_brewery_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/linotype_brewery_regular-webfont.woff") format("woff"), url("../fonts/linotype_brewery_regular-webfont.ttf") format("truetype"), url("../fonts/linotype_brewery_regular-webfont.svg#ltbrewery_regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'helveticalT_bold';
  src: url("../fonts/HelveticaLTStd-Bold.otf"); }
@font-face {
  font-family: 'helveticalT_light';
  src: url("../fonts/HelveticaLTStd-Light.otf"); }
@font-face {
  font-family: 'helveticalT_lgObl';
  src: url("../fonts/HelveticaLTStd-LightObl.otf"); }
@font-face {
  font-family: 'helveticalT_obl';
  src: url("../fonts/HelveticaLTStd-Obl.otf"); }
@font-face {
  font-family: 'helveticalT_roma';
  src: url("../fonts/HelveticaLTStd-Roman.otf"); }
@font-face {
  font-family: 'VideoJS';
  src: url(".../fonts/vjs.eot");
  src: url("../fonts/vjs.eot?#iefix") format("embedded-opentype"), url("../../font/vjs.woff") format("woff"), url("../../font/vjs.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  padding: 0;
  background: white;
  font-size: 16px; }

.primary {
  color: #ff0000;
  background-color: #00ff00;
  border-color: #0000ff; }

.screenbackground {
  background: linear-gradient to bottom, transparent, rgba 0, 0, 0, 0.6, url("../images/test.png");
  background-repeat: no-repeat;
  background-postiion: top center;
  background-size: cover;
  height: 600px; }

/*.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}*/
.navbar-nav {
  padding: 5px 0; }
  .navbar-nav li {
    font-weight: bold;
    border-left: 2px solid #f7a08c; }
    .navbar-nav li a {
      color: #00245e;
      padding-top: 0px;
      padding-bottom: 0; }
    .navbar-nav li a:hover {
      color: #f7a08c;
      background-color: transparent; }
  .navbar-nav li:first-child {
    border-left: none; }
  .navbar-nav li:hover {
    color: #f7a08c; }
  .navbar-nav .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.5); }
    .navbar-nav .dropdown-menu li {
      border-left: none;
      border-bottom: 1px solid #f7a08c;
      font-weight: normal;
      padding: 5px 0; }
      .navbar-nav .dropdown-menu li a:hover {
        text-shadow: 1px 1px 0 #eee;
        color: #00245e; }
    .navbar-nav .dropdown-menu li:last-child {
      border-bottom: none; }

h1 {
  color: white;
  font-family: "ltbrewery_bold", Arial, sans-serif;
  font-size: 2.5em; }

h2 {
  color: #00245e;
  font-family: "ltbrewery_regular", Arial, sans-serif;
  font-size: 2em;
  border-bottom: 1px solid #00245e;
  line-height: 50px; }

.carousel-inner .item img {
  width: 100%; }

.carousel-caption {
  left: 0; }
  .carousel-caption img {
    width: 50%; }

#banner-display {
  background: rgba(247, 160, 140, 0.5); }

#wwrp_description, #pageheading {
  background: #f7a08c;
  padding: 20px 0;
  margin-bottom: 20px; }
  #wwrp_description p, #pageheading p {
    color: white; }

#our_programs #wwp_study {
  padding: 10px; }
#our_programs #ywwp_study {
  padding: 10px; }
#our_programs #wwacp_study {
  padding: 10px; }
#our_programs #dwwp_study {
  padding: 10px; }
#our_programs img {
  width: 100%;
  opacity: 1; }
#our_programs img .pale {
  opacity: 0.5; }
#our_programs .program_description {
  color: #333;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  display: none; }

#our_partners {
  padding: 20px 0; }
  #our_partners img {
    height: 60px; }
  #our_partners .item {
    height: 60px; }

footer {
  padding: 40px;
  background: #f7a08c;
  color: white; }
  footer a {
    color: white; }
  footer p {
    font-family: "ltbrewery_regular", Arial, sans-serif;
    font-size: 1.2em; }

/*# sourceMappingURL=style.css.map */
